---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { FaGithub, FaLinkedin, FaDiscord, FaTwitter } from 'react-icons/fa'
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'


const projects = await getCollection('projects')
---

<Layout title="About" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

    <section>
    <Card>
      <CardContent>
      <div class="min-w-full">
        <div class="prose prose-neutral mb-8 dark:prose-invert">
          <p class="mb-4 mt-4">
            Hey! I'm <strong>Saad AIDDI</strong>, a passionate  cybersecurity security engineer.
            This blog is my personal space where I share insights on cybersecurity, 
            CTF (Capture The Flag) write-ups, and deep dives into programming concepts.
          </p>
           <p class="mb-4">
            I have experience in **full-stack development**, working with technologies like 
            <strong>JavaScript, React, Angular, Spring Boot, and Laravel</strong>. 
          </p>
          <p class="mb-4">
            Through this blog, I aim to document my journey, share knowledge, and help others
            navigate the world of **security, programming, and automation**.
          </p>
        </div>

        <div class="mt-4 mb-4 flex space-x-4">
            <Link href="https://github.com/saad484" class="text-foreground" external>
              <FaGithub className="w-6 h-6 hover:text-gray-400 transition" />
            </Link>
            <Link href="https://linkedin.com/in/saad-aiddi" class="text-foreground" external>
              <FaLinkedin className="w-6 h-6 hover:text-blue-400 transition" /> 
            </Link>
            <Link href="https://discord.gg/794291498836819979" class="text-foreground" external>
              <FaDiscord className="w-6 h-6 hover:text-blue-400 transition" />
            </Link>
            <Link href="https://twitter.com/saad484" class="text-foreground" external>
                  <FaTwitter className="w-6 h-6 hover:text-blue-400 transition" />
            </Link>
          </div>
        <div>
        </div>
      </CardContent>
    </Card>
      </section>
      <section>

        <h2 class="mb-4 text-2xl font-semibold">Example Projects Listing</h2>
        <div class="flex flex-col gap-4">
          {projects.map((project) => <ProjectCard project={project} />)}
        </div>
      </div>
    </section>
  </Container>
</Layout>
