---
import Container from '@/components/Container.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Writeups" description="HTB machine and challenge writeups">
  <Container class="py-8 flex flex-col gap-y-6">
    <h1 class="text-3xl font-bold">Hack The Box Write-ups</h1>
    <p class="text-muted-foreground">Dive into detailed Hack The Box machine and challenge write-ups.</p>
    <div class="w-full overflow-hidden rounded-lg border">
      <iframe
        src="https://bouncy-backbone-70d.notion.site/ebd/255827ba6d7680fa8392f90996c6d660?v=255827ba6d7681359228000ce539f86a&pvs=4"
        class="w-full h-[600px]"
        allowfullscreen
      ></iframe>
    </div>
  </Container>
</Layout>
